html, body {
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'Gotham Rounded Book';
    src: 
        local('Gotham Rounded Book'),
        url('../fonts/Gotham-Rounded-Book.ttf');
}

@font-face {
    font-family: 'Gotham Rounded Bold';
    src: 
        local('Gotham Rounded Bold'),
        url('../fonts/Gotham-Rounded-Bold.ttf');
}

@font-face {
    font-family: 'Gotham Rounded Medium';
    src: 
        local('Gotham Rounded Medium'),
        url('../fonts/Gotham-Rounded-Medium.ttf');
}        

.container-fluid {
    //    getting rid of bootstrap padding on container 
    //    so that class is full-width of screen
    padding-left: 0px;
    padding-right: 0px;
}

.section {
    width: 100%;
}

#section1 {
    height: 100vh;
    background-image: url("../images/phototime_01.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
    
    //margin collapse fix
    overflow: auto;
}

#section2 {
    height: 70vh;
    background-image: url("../images/phototime_02.jpg");
    background-size: cover;
    background-position: right center;
}

#section3 {
    height: 70vh;
    background-image: url("../images/phototime_03.jpg");
    background-size: cover;
    background-position: left center;
}

#section5 {
    height: 100vh;
    background-image: url("../images/phototime_06.png");
    background-size: cover;
    background-position: center center;
}

.navigation-link, #headerIcon {
    display: none;
}

header {
    position: fixed;
    width: 100%;
    margin-top: 25px;
    z-index: 1;
}

#tagline {
    width: 60%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    
    margin: 0px auto;
    color: white;
    font-family: "Gotham Rounded Medium", sans-serif;
    
    h3 {
        font-size: 2.5rem;
        margin: 0px;
        
        word-spacing: 5px;
        letter-spacing: 2px;
    }
    
    h5 {
        font-size: 1.1rem;
        letter-spacing: 2px;
    }
}

#section1Footer {
    position: absolute;
    width: 100%;
    bottom: 5%;
}

.greenButton {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        height: 40px;
        padding: 15px 0px;
        background-color: #16a085;
        border-radius: 4px;
        font-size: 1.0rem;
        letter-spacing: 2px;
    }

#menuButton {
    background-color: rgba(0,0,0,0.2);
    
    img {
            width: 20px;
    }
}

#mobileMenu {
    position: fixed;
    height: 100vh;
    width: 50%;
    z-index: 2;
    background-color: #303030;
    box-shadow: -5px 0px 10px 0px rgba(0, 0, 0, 0.47) inset;
    transform: translateX(-400px);
    transition: transform 0.5s ease;
    
    h3 {
        color: white;
        text-align: center;
    }
    
    ul {
        padding: 0px;
    }
    
    li {
        border-top: 0.1px solid black;
        padding: 5px;
        list-style: none;
    }
}

#footerImageContainer {
    text-align: center;

    img {
        display: inline-block;
    }
    
    :nth-child(2) {
        margin: 0px 4%;
    }
}

#mobileMenuHeader {
    text-align: center;
}

/********************************** Media Queries ********************************/

// min width: 768px
@media screen and (min-width: 768px) {
    .navigation-link {
        display: inherit;
        color: #fff;
        font-family: "Gotham Rounded Medium", sans-serif;
        text-align: center;
        text-shadow: 2px 1px 7px black;

        h6 {
            font-size: 1.5rem;
        }
    }
    
    #headerIcon {
        display: block;
        text-align: center;
    }
    
    #menuButton, #mobileMenu {
        display: none;
    }
    
    #tagline {
        h3 {
            font-size: 3rem;
        }
    }
    
    
}

// max width: 430px (to fix green button issues on smaller screens. Doesn't fix them all)
@media screen and (max-width: 430px) {
    
    .greenButton {
        font-size: 0.75rem;
    }
}

/********************************** Animations ********************************/

@keyframes slideAnimationIn {
    0% { transform: translateX(-400px);}
    100% {transform: translateX(0px);}
}

@keyframes slideAnimationOut {
    0% { transform: translateX(0px);}
    100% {transform: translateX(-400px);}
}

