$theme-green: #16a085;
$light-gray: #f5f6f7;
$off-black: #6a6a6a;

@font-face {
    font-family: 'Gotham Rounded Book';
    src: 
        local('Gotham Rounded Book'),
        url('../fonts/Gotham-Rounded-Book.ttf');
}

@font-face {
    font-family: 'Gotham Rounded Bold';
    src: 
        local('Gotham Rounded Bold'),
        url('../fonts/Gotham-Rounded-Bold.ttf');
}

@font-face {
    font-family: 'Gotham Rounded Medium';
    src: 
        local('Gotham Rounded Medium'),
        url('../fonts/Gotham-Rounded-Medium.ttf');
}    

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Gotham Rounded Medium', sans-serif;
}

.container-fluid {
    //    getting rid of bootstrap padding on container 
    //    so that class is full-width of screen
    padding-left: 0px;
    padding-right: 0px;
}

.section {
    width: 100%;
    overflow: auto; //margin collapse fix
    position: relative;
}

#section1 {
    height: 100vh;
    background-image: url("../images/phototime_01.jpg");
    background-size: cover;
    background-position: center bottom;
}

#section2 {
    height: 70vh;
    background-image: url("../images/phototime_02.jpg");
    background-size: cover;
    background-position: right center;
    
    div:first-child {
        width: 70%;
        height: 60%;
        text-align: center;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
    }

    h4 {
        font-family: "Gotham Rounded Bold";
        font-size: 1.5rem;
        letter-spacing: 2px;
        color: $theme-green;
        margin-bottom: 40px;
        text-shadow: 2px 1px 2px rgb(75, 75, 75);
    }

    p {
        font-family: 'Gotham Rounded Book';
        font-size: 1.1rem;
        letter-spacing: 0.5px;
        color: white;
        margin-bottom: 40px;
    }
}

#section3 {
    height: 70vh;
    background-image: url("../images/phototime_03.jpg");
    background-size: cover;
    background-position: left center;
    
    div:first-child {
        width: 70%;
        height: 60%;
        text-align: center;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
        
    }

    h4 {
        font-family: "Gotham Rounded Bold";
        font-size: 1.5rem;
        letter-spacing: 2px;
        color: $theme-green;
        margin-bottom: 40px;
        text-shadow: 2px 1px 2px rgb(75, 75, 75);
    }

    p {
        font-family: 'Gotham Rounded Book';
        font-size: 1.1rem;
        letter-spacing: 0.5px;
        color: white;
        margin-bottom: 40px;
    }
}

#section4 {
    height: 70vh;
    background-color: $light-gray;
    overflow: hidden;
}

#section4Row {
    padding: 0px 10%;
}

.section-4-image img {
    width: 100%;
}

.section-4-block {
}

#section4Block1 {
    text-align: center;

    div {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    h4 {
        font-size: 1.4rem;
        letter-spacing: 1.7px;
    }

    p {
        font-family: "Gotham Rounded Book";
        font-size: 0.9rem;
        width: 100px;
        margin-left: auto;
        margin-right: auto;
    }
}

#section5 {
    height: 100vh;
    background-image: url("../images/phototime_06.png");
    background-size: cover;
    background-position: center center;
}

.navigation-link, #headerIcon {
    display: none;
}

header {
    position: fixed;
    width: 100%;
    margin-top: 25px;
    z-index: 100;
}

#tagline {
    width: 60%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    
    margin: 0px auto;
    color: white;
    
    h3 {
        font-size: 2.5rem;
        margin: 0px;
        
        word-spacing: 5px;
        letter-spacing: 2px;
    }
    
    h5 {
        font-size: 1.1rem;
        letter-spacing: 2px;
    }
}

#section1Footer {
    position: absolute;
    width: 100%;
    bottom: 5%;
}

.greenButton {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    padding: 15px 0px;
    background-color: $theme-green;
    border-radius: 4px;
    font-size: 1.0rem;
    letter-spacing: 2px;
    text-align: center;
    color: white;

}

#menuButton {
    background-color: rgba(0,0,0,0.2);
    
    img {
            width: 20px;
    }
}

#mobileMenu {
    position: fixed;
    height: 100vh;
    width: 50%;
    z-index: 99;
    background-color: #303030;
    box-shadow: -5px 0px 10px 0px rgba(0, 0, 0, 0.47) inset;
    transform: translateX(-400px);
    transition: transform 0.5s ease;
    
    h3 {
        color: white;
        text-align: center;
    }
    
    ul {
        padding: 0px;
    }
    
    li {
        border-top: 0.1px solid black;
        padding: 5px;
        list-style: none;
    }
}

#footerImageContainer {
    text-align: center;

    img {
        display: inline-block;
    }
    
    :nth-child(2) {
        margin: 0px 4%;
    }
}

#mobileMenuHeader {
    text-align: center;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(2, 2, 2, 0.7);
    z-index: 1;
    position: absolute;
    top: 0%;
    left: 0%;
}



/********************************** Media Queries ********************************/

// min width: 768px
@media screen and (min-width: 768px) {
    
    .overlay {
        display: none;
    }
    
    .navigation-link {
        display: inherit;
        color: #fff;
        text-align: center;
        text-shadow: 2px 1px 7px black;

        h6 {
            font-size: 1.5rem;
        }
    }
    
    #headerIcon {
        display: block;
        text-align: center;
    }
    
    #menuButton, #mobileMenu {
        display: none;
    }
    
    #tagline {
        h3 {
            font-size: 3rem;
        }
    }
    
    #section2 {
        
        div:first-child {
            width: 40%;
            text-align: left;
            margin-left: 10%;
            left: 0%;
            transform: translateY(-50%);
        }
        
        h4 {
            text-shadow: none;
        }
        
        p {
            color: $off-black;
        }
        
        .greenButton {
            float:left;
        }
    }
    
    #section3 {
        
        div:first-child {
            width: 40%;
            text-align: left;
            margin-right: 10%;
            transform: translateY(-50%);
        }
        
        h4 {
            text-shadow: none;
        }
        
        p {
            color: $off-black;
        }
        
        .greenButton {
            float: left;
        }
    }
    
    #section4Row {
        position: relative;
        height: 0%;
        top: 50%;
        transform: translateY(-50%);
    }

    .section-4-image img {
    }

    .section-4-block {
        top: 50%;
        transform: translateY(-50%);
    }

    #section4Block1 {
        top: 50%;
        transform: translateY(-50%);

        h4 {
            margin: 8% 0px;
        }
    }    
}

// max width: 430px (to fix green button issues on smaller screens. Doesn't fix them all)
@media screen and (max-width: 430px) {
    
    .greenButton {
        font-size: 0.75rem;
    }
}

/********************************** Animations ********************************/

@keyframes slideAnimationIn {
    0% { transform: translateX(-400px);}
    100% {transform: translateX(0px);}
}

@keyframes slideAnimationOut {
    0% { transform: translateX(0px);}
    100% {transform: translateX(-400px);}
}

